#headimg{
    height: 100px;
    width: 1000px;
    background-image: url(../img/pattern.png);
    back
    background-color: blue;
}


#booleaner{
    color: blue;
}

.text1{
    color: grey;
    line-height: 1px;
}

.text2{
    font-size: 12px;
    line-height: 1px;
}

#colortext{
    background-color: yellow;
    text-align: justify;
}

#listalign{

}

#footerhead{
    color: grey;
    
}



